# Caches do Gradle e arquivos locais de build
.gradle/
build/
app/build/

# Configurações locais do ecossistema Android/IDE
*.iml
.idea/
local.properties
.DS_Store

# Arquivos de log e relatórios temporários
/captures/
.externalNativeBuild
.cxx
